configuration {
  modes: [ combi ];
  combi-modes: [ ssh, drun ];
}

@theme "Adapta-Nokto"

entry {
  placeholder: "Hello There";
}

element {
  orientation: horizontal;
  children: [ element-text, element-icon ];
  spacing: 5px;
}

